/* #p1 {
    color: lawngreen;
}

#p2 {
    color: red;
}

#p3 {
    color: lightseagreen;
}

#p4 {
    color: blueviolet;
} 



.odd {
    color: red;
}

.even {
    /* color: rgb(132, 132, 201);8
 
} 



#h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#p1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  
}  

#h1 {
    /* border-style: solid;
    border-style: dotted;  
    border-style: dashed; 
    border-style: groove; 
    border-style: solid;
    border-width: 10px;
    border-color: red; 
    border: 5px solid red;
    border-radius: 8px;
}

#p1 {
    border-bottom: 5px red solid;
    border-top: 5px blue dotted;
    border-left: 5px green double;
    border-right: 5px paleturquoise dashed;
}  

#h1 {
    text-shadow: 5px 5px 5px red, -5px -5px 5px lightgreen;
}

#div1 {
    width: 100px;
    height: 100px;
    background-color: gray;
    box-shadow: 4px 4px 5px red, -4px -4px 5px green;
} 

body {
    margin: 0px;
}

.box {
    border: 5px solid;
    font-size: 5em;
    width: 200px;
    height: 200px;
        margin: 50px;
}

#div1 {
    background-color: lightcoral;
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

#div2 {
    background-color: lightgreen;

} 



body {
    border: 3px solid;
  
}

#img1 {
    float: left;
    margin-right: 20px;
}

#img2 {
    float: right;
    mar

#div1 {
    border: 2px solid;
    height: 50px;
    /* overflow: visible; 
    overflow: clip;
    overflow-clip-margin: 50px; 

    overflow: scroll;  
    overflow: auto;

} 

#div1 {
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}

#span1 {
    background-color: aqua;
     width: 100px;
    height: 100px;
    display: inline-block;
} 


* {
    box-sizing: border-box;
}

.container {
    background-color: lightgray;
    height: 100vh;
}

.box {
    background-color: red;
    border: 2px solid;
    padding: 25px;
   
    height: auto;
    width: 50%;
    float: right;
    text-align: center;
     min-height: 70%;
     
    
}  


#box1 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position: static;
    top: 0px;
   
    
}


#box2 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    position: static;
    top: 50px;
    left: 50px;
}
#box3 {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    position: absolute;
    top: 25px;
    left: 25px;
} 

.container {
    display: flex;
    border: 10px solid;
    height: 90vh; 
    flex-wrap: wrap;
     align-content: flex-start;
     row-gap: 2em;
     
     /*
     column-gap: 2em;
    align-content: center; 
  align-content: space-around; 
     align-content: flex-end; 
      align-content: flex-start; 
       flex-wrap: wrap-reverse; 
     flex-wrap: nowrap;
    flex-wrap: wrap; 
     flex-direction: row; 
       flex-direction: row-reverse; 
       flex-direction: column;
       flex-direction: column-reverse;
       justify-content: flex-end; 
       justify-content: center;
       justify-content: space-between; 
       justify-content: space-around;
       align-items: flex-start;  
       align-items: flex-end;
       align-items: center;
       
}  

.container {
    display: flex;
    border: 10px solid;
    height: 90vh;
    

}


.box {
    background-color: red;
    border: 2px solid;
    height: 150px;
    width: 150px;
    font-size: 5em;
    border-radius: 5px;
    
}  


#box1 {
   background-color: lightcoral;
   align-self: center;
    
}
#box2 {
    background-color: lightskyblue;
    align-self: flex-end;
}
#box3 {
    background-color: yellow;

}
#box4 {
    background-color: lightgreen;

} 

body {
    margin: 0;
}

.box {
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 10em;
    text-align: center;
    background-color: lightgreen;

    /* transform: translateX(100px); */
    /* transform: translateY(200px); */

    /* transform: translate(50px, 50px); */
    /* transform: rotateX(135deg); */
    /* transform: rotateY(100deg); */
    /* transform: rotateZ(200deg); */
    /* transform: scale(2.5, 2.5); */
    /* transform: skew(40); */

    /* transform: translateX(50%) rotateZ(100deg) scale(0.5);
} 



#box {
    width: 250px;
    height: 250px;
    background-color: lightgreen;
    font-size: 10em;
    text-align: center;

    animation-name: slideLeft;
    /* animation-name: slideRight; */
    /* animation-name: slideUp; */
    /* animation-name: slideDown; */
    /* animation-name: rotate; */
    /* animation-name: grow; */
    /* animation-name: shrink; 
    animation-name: colorChange;
    animation-duration: 3s; 
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: steps(10);
}

@keyframes slideLeft {
    from{transform: translateX(100%)}
}
@keyframes slideRight {
    to{transform: translateX(100px)}
}
@keyframes slideUp {
    from{transform: translateY(300%)}
}
@keyframes slideDown {
    to{transform: translateY(300%)}
}

@keyframes rotate{
    /* 100%{transform: rotateX(360deg)} */
    /* 100%{transform: rotateY(360deg)} */
    /* 50%{transform: rotateZ(360deg)}

}

@keyframes grow {
    50%{transform: scale(2, 2)}
}

@keyframes shrink {
    50%{transform: scale(0.5, 0.5)}
}


@keyframes colorChange {
    0%{background-color: yellow}
    20%{background-color: range}
    40%{background-color: red}
    60%{background-color: blue}
    80%{background-color: purple}
    100%{background-color: lavender}
} */